*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width: 300px;
}

h1{
	text-align: center;
	background-color: aquamarine;
}

.header{
	color: red;
}

.btn{
	color: white;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 7px;
	padding: 10px 20px;
	text-transform: uppercase;
	background-color: black;
	transition: .6s;
}

.btn:hover{
	color: black;
	background-color: white;
}

section{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.picture{
	width: 30%;
}

.picture img{
	width: 100%;
}

.text{
	width: 70%;
	padding: 0 20px;
}

